<div [ngSwitch]="state" class="center-modal">

  <section *ngSwitchCase="'welcome'" class="center-section scale-in-ver-bottom">
    <div class="center-content">
      welcome
    </div>
    <div class="center-options">
      <app-option-modal
        style="width: 100%; padding-bottom: 10px;"
        (emittState)="listenState($event)"
        firstButtonRole="exit"
        secondButtonRole="next"
        [pointer]="pointer"
        [normalStatus]="normalStatus">
      </app-option-modal>
    </div>
  </section>

  <section *ngSwitchCase="'selection'" class="center-section scale-in-ver-bottom">
    <div class="center-content">
      selection
    </div>
    <div class="center-options">
      <app-option-modal
        style="width: 100%; padding-bottom: 10px;"
        (emittState)="listenState($event)"
        firstButtonRole="previous"
        secondButtonRole="next"
        [pointer]="pointer"
        [normalStatus]="normalStatus">
      </app-option-modal>
    </div>
  </section>

  <section *ngSwitchCase="'installation'" class="center-section scale-in-ver-bottom">
    <div class="center-content">
      installation
    </div>
    <div class="center-options">
      <app-option-modal
        style="width: 100%; padding-bottom: 10px;"
        (emittState)="listenState($event)"
        firstButtonRole="cancel"
        secondButtonRole="done"
        [pointer]="pointer"
        [normalStatus]="normalStatus">
      </app-option-modal>
    </div>
  </section>

  <section *ngSwitchCase="'error'" class="center-section scale-in-ver-bottom">
    <div class="center-content">
      Error
    </div>
    <div class="center-options">
      <ion-button color="danger" (click)="previousState()">
        <ion-label class="ion-text-uppercase">salir</ion-label>
      </ion-button>

      <ion-button color="tertiary" (click)="nextState()">
        <ion-label class="ion-text-uppercase">continuar</ion-label>
      </ion-button>
    </div>
  </section>

</div>