<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SQLite App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row style="position: sticky; top: 0; left: 0; z-index: 9; background-color: var(--ion-color-medium);">
      <ion-col size="12">
        <ion-item>
          <ion-checkbox [checked]="checked" (ionChange)="setPreference()">
            Poner en reverso la lista
          </ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col size="10">
        <ion-item>
          <ion-input label="Name" type="text" (ionInput)="setText($event)" [clearInput]="newUserName.length === 0"
            labelPlacement="stacked" placeholder="Enter a name">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="2" style="display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;">
        <ion-button size="small" (click)="createUser()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item *ngFor="let user of users()">
          <ion-checkbox slot="start" [(ngModel)]="user.active" (ionChange)="updateUser(user)" labelPlacement="end">
            {{ user.name }}
          </ion-checkbox>

          <ion-button slot="end" (click)="deleteUser(user)" fill="clear" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>